version: "3.8"
services:
  mysql:
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    image: mysql:latest
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: lieferberlino
      MYSQL_PASSWORD: lieferberlino2020!
      MYSQL_ROOT_HOST: 172.19.0.3
    command: --bind-address=0.0.0.0 --default-authentication-plugin=mysql_native_password
  backend:
    depends_on:
      mysql:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    command: docker run backend:latest